.list-header button {
    margin-left: 12px;
}
.todo-list {
    margin: 0;
    padding: 0 !important;
    list-style: none;
    margin-bottom: 42px;
}

.todo-list .empty-list-placeholder {
    padding: 8px 16px;
}

.todo-list-header {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}
.todo-list-header.light h6 {
    font-weight: lighter;
    /* font-style: italic; */
}
.todo-list-header.space-below {
    margin-bottom: 24px;
}

.todo-list-header > * {
    margin: 0;
    margin-left: 12px;
}

.todo-item {
    padding: 8px 16px;
    display: flex;
    align-items: center;
}
.todo-item:not(:last-child) {
    border-bottom: 1px solid #ccc;
}

.todo-item .pt-control {
    margin-bottom: 0;
}

.todo-item.todo-complete {
    background: #EBF1F5;
}

.todo-item .todo-content {
    flex: 1;
    padding: 12px;
}

.todo-item .drag-handle {
    color: #555;
    cursor: grab;
    margin-right: 1em;
}

.todo-item.todo-complete .todo-content{
    text-decoration: line-through;
    color: #8A9BA8;
}
