.list-header button {
    margin-left: 12px;
}
.todo-list {
    margin: 0;
    padding: 0 !important;
    list-style: none;
    margin-bottom: 42px;
}

.todo-list .empty-list-placeholder {
    padding: 8px 16px;
}

.todo-list-header {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

.todo-list-header h6 {
    margin: 0;
    margin-left: 12px;
}

.todo-item {
    padding: 8px 16px;
    display: flex;
    align-items: center;
}
.todo-item:not(:last-child) {
    border-bottom: 1px solid #ccc;
}

.todo-item .pt-control {
    margin-bottom: 0;
}

.todo-item .todo-content {
    flex: 1;
    padding: 12px;
}

.todo-item .todo-complete {
    text-decoration: line-through;
}
