* {
  box-sizing: border-box;
}
body, html {
  margin: 0;
  padding: 0;
  background: #f5f8fa;
}
.app-container {
  height: 100vh;
  max-width: 1024px;
  margin: 0 auto;
  padding: 72px 36px 36px;
}

.list-header {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.list-header h1,
.list-header h2 {
  flex: 1;
}

:focus {
  outline: none !important;
}
